<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Shadow Moses</title>
    <link rel="icon" href="images/prisma.ico">
    <link rel='stylesheet' type = 'text/css' href='styles/main.css'>
</head>
<body>
    <main>
        <div class="container">
            <%- include('includes/nav.ejs') %>
            <div class="e">
                <h1>Error 404</h1>
                <h2>Not found</h2>
            </div>
        </div>
    </main>
</body>
</html>