<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Prisma</title>
    <link rel="icon" href="images/prisma.ico">
    <link rel='stylesheet' type = 'text/css' href='styles/main.css'>
    <link rel='stylesheet' type = 'text/css' href='styles/login.css'>
</head>
<body> 
    <main>
        <div class="container">
            <%- include('includes/nav.ejs') %>
            <div class="box">
                <form action="login" method="POST">
                    <div class="top"></div>
                    <div class="bottom"></div>
                    <div class="center">
                        <h2>Log In</h2>
                        <input type="email" placeholder="email" name="email" >
                        <input type="password" placeholder="password" name="pw">
                        <input type="submit" value="Login">
                        <h2>&nbsp;</h2>
                    </div>
                </form>
            </div>
        </div>    
    </main>
</body>
</html>