<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Shadow Moses</title>
    <link rel='stylesheet' type = 'text/css' href='styles/main.css'>
</head>
<body>
<%- include('includes/nav.ejs') %>
    <main>
        <h1>Shadow Moses</h1>
        <p>Shadow Moses utiliza la red neuronal Spleeter de Deezer para separar</p>
        <div id="form">
            <form action="main" method="POST" enctype="multipart/form-data" >
                <div>
                    <input type="file" accept="audio/*" name="audio_track" required>
                </div>
                <div>
                    <input type="radio" id="2stems" name="stems" value="2" required>
                    <label for="2stems">2 hilos</label>
                    <input type="radio" id="4stems" name="stems" value="4">
                    <label for="4stems">4 hilos</label>
                    <input type="radio" id="5stems" name="stems" value="5">
                    <label for="5stems">5 hilos</label>
                </div>
                <div>
                    <input type="radio" id="128k" name="bitrate" value="128" required>
                    <label for="128k">128 kbps</label>
                    <input type="radio" id="96k" name="bitrate" value="96">
                    <label for="96k">96 kbps</label>
                    <input type="radio" id="64k" name="bitrate" value="64">
                    <label for="64k">64 kbps</label>
                </div>
                <div>
                    <input type="radio" id="m3" name="codec" value="mp3" required>
                    <label for="m3">mp3</label>
                    <input type="radio" id="wv" name="codec" value="wav">
                    <label for="wv">wav</label>
                </div>
                <input type="submit" value="Enviar">
            </form>
        </div>
    </main>
</body>
</html>