<!DOCTYPE html>
html(lang='es')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Shadow Moses
        link8rel('stylesheet', href='../public/syles/main.css')
    body
        header(class='main-header')
        block principal

