@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;600&display=swap');
:root{
    --azul-oscuro:#202124;
    --azul:#344973;
    --azul-claro:#1DF2DD;
    --rosa:#FF83FE;
    --lila:#0a165c;
    --amarillo:#F2E750;
    --naranja-fuerte:#D97904;
    --naranja-suave:#F2B705;
    --devsite-h1-font: 400 32px/40px Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background: midnightblue;
    margin: 0px 0px 0px 0px;
}

nav{
    top: 0px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background: var(--azul-oscuro); */
}

.nav-menu{
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-item{
    margin: 0px 17px 0px 17px;
}

li a{
    text-decoration: none;
    cursor: pointer;
    color: white
}

.active{
    color: var(--rosa)
}

.container{
    display: flex;
    position: relative;
    height: 100vh;
}

.imagen{
    height: 100%;
    max-height: 1000px;
    width: 100%;
    left: 0;
    position: absolute;
}

.main-header{
    position: absolute;
    width: 100%;
    z-index: 15;
}

.titulo{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 300px;
    margin-left: auto;
    margin-right: 360px;
    margin-top: 360px;
}

#form{
    display: flex;
    font-size: 30px;
    margin: auto;
    width: 30%;
    height: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 5;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
}

h1{
    color: white;
    z-index: 10;
    font-size: 70px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    word-spacing: 0.035em;
    margin-bottom: 5px;
}

h2{
    color: white;
    z-index: 10;
    font-size: 40px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    margin-top: 0px;
}

.items-center{
    align-items: center;
    display: inline-flex;
    border-radius: .375rem;
}

.bloque{
    display: inline-block;
    margin: 2px 2px 2px 2px;
}

input[type="submit"],
input[type="file"]{
  display: inline-block;
  height: 38px;
  padding: 0 30px !important;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Raleway';
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
  margin-top: 5px;
  margin-bottom: 5px;
}

 #sub{
      margin-top: 20px;
  }

.spleeter{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.out{
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin: 0px 17px 0px 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 22px;
    border: none;
    background: none;
}