:root{
    --azul-oscuro:#202124;
    --azul:#344973;
    --azul-claro:#1DF2DD;
    --rosa:#D94862;
    --lila:#31238C;
    --amarillo:#F2E750;
    --naranja-fuerte:#D97904;
    --naranja-suave:#F2B705;
    --devsite-h1-font: 400 32px/40px Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background: linear-gradient(60deg, var(--naranja-fuerte), var(--naranja-suave));
    margin: 0px 0px 0px 0px;
}

nav{
    /* top: 0px; */
    width: 100%;
    font: var(--devsite-h1-font,300 34px/40px Roboto,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif);
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--azul-oscuro);
}

.nav-menu{
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-item{
    margin: 0px 15px 0px 15px;
}

li a{
    text-decoration: none;
    cursor: pointer;
    color: white
}

.active{
    color: var(--amarillo)
}

#form{
    font-size: 20px;
    margin: auto;
    width: 50%;
    text-align: center;
    color: white;
}

h1{
    color: white;
}

.items-center{
    align-items: center;
    display: inline-flex;
    border-radius: .375rem;
}